  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Inter:wght@400;600;800&family=Karla:ital@1&family=Lobster&family=Montserrat:wght@100&family=Playfair+Display:ital@1&family=Poppins:ital,wght@1,100&family=Quicksand:wght@300&family=Recursive&family=Roboto:wght@100&family=Space+Mono&display=swap');



*{
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  scroll-behavior: smooth;
  padding:0;
  margin:0;
}
.navBar{
  display: flex;
align-items: center;
padding:20px 0px;
}

.Left-Nav{
display:flex;
margin: 10px;
align-items: center;
gap:10px;
}

li{

 list-style-type: none;
 
}

.list-item{
margin-left:20px;
color:white;
font-size:18px;


}
a:link { 
  text-decoration: none; 
} 
.Right-Nav{
  margin-left:auto;
  margin-right:30px;
}

.body-left{
  display: flex;
  justify-content:center;
align-items: center;
margin-top:100px;
padding:20px 0px;
}

.left-text{
display:flex;
flex-direction: column;
margin-left:40px;
}

.right-container {
  margin-left:50px; 
}

.right-text {
  width: 300px;
  max-width: 200px;
}





.Wave{
  font-size: 30px;
   animation-name:wave-animation;
   animation-duration:1.5s;
   animation-iteration-count:infinite;
   transform-origin:70% 70%;
   display: inline-block;
}

/*Waving hand animation**/

@keyframes wave-animation{
  0%{transform:rotate(0.0deg)}
  10%{transform:rotate(14.0deg)}
  20%{transform:rotate(-8.0deg)}
  30%{transform:rotate(14.0deg)}
  40%{transform:rotate(-4.0deg)}
  50%{transform:rotate(10.0deg)}
  60%{transform:rotate(0.0deg)}
  100%{transform:rotate(0.0deg)}

}

section{
  height: 100vh;
  display:flex; 
  justify-content: center;
  align-items: center;
  
}

.animateArrow{
  position: relative;
  animation: jumpInfinite 1.5s infinite;
}
.arrowContainer{
  position: relative;

}
.animateArrow:after{
content:" ";

top:12px;
left:-10px;
width: 16px;
  height: 16px;
 
  border-radius: 4px;
  transform: rotateZ(45deg);
  position:absolute;

}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}




.tackle{
  margin-left:5px;
  color:#4169E1;
  
}


.icons{
  display:flex;
  gap:6px
}

.About-me{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:120px 0;
  gap:40px;
}

.project-Body{
  display:flex;
  flex-direction: column;
  padding:120px 0;
  margin-left:70px;
  gap:40px;
}

.project1{
display: flex;



}

.content{
display:flex;
flex-direction: column;

}

.Weatherimg{
   margin-left:10em;
   border: 3px solid #3498db; 
   border-radius: 10px;
   overflow: hidden; 

  
}
.Weatherimg img{
  width:100%;
  height: auto;
  display: block;
}

