@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Inter:wght@400;600;800&family=Karla:ital@1&family=Lobster&family=Montserrat:wght@100&family=Playfair+Display:ital@1&family=Poppins:ital,wght@1,100&family=Quicksand:wght@300&family=Recursive&family=Roboto:wght@100&family=Space+Mono&display=swap');

body{
  background-color:#333333;
  font-family: 'Montserrat', sans-serif;
  color:white
}